footer{
    height: 100px;
    background-color: rgb(58, 54, 54);
}

.footer-container{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    justify-content: space-between;
}

span{
    padding-left: 50px;
    font-size: 40px;
    color: #89c6ff
}