/* body{
    font-family:  Comfoorta-Bold;
} */

.content-container{
  margin-left: 40px;
  margin-right: 40px;
}

.footer{
   position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}